@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #FDFDFD;
  --secondary-color: #E5E5E5;
  --black-color: #000;
  --white-color: #fff;
  --off-white-color: #F8F8FF;
  --side-bar-bg: #F2EAE1;
  --yellow-color: #FEAF00;
  --img-border: #384EB74D;
  --input-border: #E5E5E5;
  --red-color: #FE0000;
  --span-color: #8080808C;
  --lable-color: #6C6C6C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.FM-yellow-bg {
  background-color: var(--yellow-color);
}

.FM-handel {
  margin: 100px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--yellow-color);
}

@media screen and (max-width:1200px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width:992px) {
  html {
    font-size: 10px;
  }
}